.menu {
    width: 300px;
    height: 100vh;
    background-color: #1be6cf;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}
  
.active {
      right: 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width: 60%;
}

.listItem {
    margin-bottom: 25px;
    cursor: pointer;
}

.listItem:hover {
    color: black;
}

.username {
    list-style: none;
    font-size: 20px;

}

.login {
    padding-left: 0;
  
}

@media screen and (max-width:480px) {
    .menu {
        width: 290px;
    }
}